body, html {
  height: 100%;
  margin: 0;
}

.bgimg {
  background-image: url('https://keendomains.files.wordpress.com/2021/01/12e8a6a547e317524121f7a5d6084036.gif');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none; 
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 15px;
  position: absolute;
  top:90%; 
    left:30%;
 
}

.cs {
  background-color: white; 
  color: black; 
  border: 2px solid orange;
}

.cs:hover {
  background-color:orange;
  color: white;
}
.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
}


.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}


